<form (ngSubmit)="onSubmit()" class="reminder-form">
  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>Дата создания:</mat-label>
      <input
        matInput
        type="datetime-local"
        [(ngModel)]="form.createdAt"
        name="dueAt"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Дата выполнения:</mat-label>
      <input
        matInput
        type="datetime-local"
        [(ngModel)]="form.dueAt"
        name="dueAt"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Статус</mat-label>

      <mat-select [(ngModel)]="form.statusId" name="statusId">
        <mat-option *ngFor="let s of statuses" [value]="s.id">
          {{ s.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label> Краткое описание: </mat-label>
    <input
      matInput
      [(ngModel)]="form.shortDescription"
      name="shortDescription"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label> Полное описание: </mat-label>
    <textarea
      matInput
      [(ngModel)]="form.fullDescription"
      name="fullDescription"
      rows="6"
    ></textarea>
  </mat-form-field>
  <div class="actions">
    <button mat-button color="primary" type="button" (click)="onCancel()">
      Отмена
    </button>
    <button mat-raised-button color="primary" type="submit">Сохранить</button>
  </div>
</form>
